* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 
  }

body {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: black; 
    
}

#root {
    background-color: #DFD0BA;
    color: rgb(237, 245, 226);
  
 }

 .logoHome{
    max-width: 3em;
}

.startContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color: black;
    padding: 0, 3em, 3em, 3em;

  
}

.startdoll {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.startInputs {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoMuñe {
    width: 15em;
    margin-top: 5em;
    margin: 0px;
    align-self: center;
}

.titleStart{
  color: #131e2e;
  font-family:Cairo,sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
  align-self: center;
}

.loginButton {
    width: 60vw;
    height: 5vh;
    border-radius: 30px;
    background-color: #5fd3b6;
    border: solid 1px rgb(21, 71, 1);
    box-shadow: 8px 5px 5px rgb(125, 125, 126); 
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-bottom: 25px;
}

.loginInput {
    height: 6vh;
    width: 60vw;
    border-radius: 10px;
    background-color: #b8dbc7;
    box-shadow: 8px 5px 5px rgb(125, 125, 126) ;
    margin: auto;
    text-align: center;
  
}

.loginText{
    text-align: center;
    padding: .5em;
    color: green;
}

.postContainer {
    width: 100vw;
    height: 100vh;
    margin: 8px, 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    justify-content: center; 

}
.logoMuñePost{
     max-width: 5em;
 }

.lupaPost {
     width:3.5em;
 }

.sendiconPost{
    width:2em;
    
 }

.postInput {
     margin-top: 20px;
     width: 90vw;
     padding: 10px;
     border: solid .1px green;
     height:fit-content;
     box-shadow: 8px 5px 5px rgb(125, 125, 126); 
 }


 .topInfo{
    width: 95vw;
    height: 10vh;
    position: absolute;
    top:1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    justify-content: space-around;
 }
 .logoHome{
    max-width: 3em;
}

 
 .titleTop{
    color: #052658;
    font-family: 'Cairo', sans-serif;
    
  }

.userInfo{
    width: 95vw;
    height: 15vh;
    position: absolute;
    top:10%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    border: solid 1px rgb(21, 71, 1);
    background-color: #F08296;
    box-shadow: 8px 5px 5px rgb(125, 125, 126); 
    
}
.userName{
    display: flex;
    flex-wrap: wrap;
    color: #390992;
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
}

.posts{
    margin-top: 5px;
}

 .menuPost{
    width: 100vw;
    height: 15vh;
    top: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    justify-content: space-around;
 }
 .oldPost{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:black;
    background-color: rgb(222, 245, 225);
    box-shadow: 8px 5px 5px rgb(125, 125, 126); 
    contain: content; 
    overflow: scroll;  
    align-items: center;
    justify-content: center;
}
.newPostInput{
    width: 90vw;
    height: 10vh;
    top: 70%;
   position: absolute;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   position: absolute;
   justify-content: space-around;
}

p {
    width: 90vw;
    height: 8vh; 
    border: solid 1px rgb(21, 71, 1);
    background-color: rgb(253, 253, 253);
    align-self: center;  
    margin: auto;
}

.eachOldPost{
    height: 15em;
    background-color: #390992;
}


 @media (min-width: 500px) {
     #root {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-color: #DFD0BA;
        color: rgb(237, 245, 226);
     }

     .startContainer {
         width: 100vw;
         height: 100vh;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         padding:25px;
     }

     .loginButton {
        width: 30vw;
        height: 5vh;
        border-radius: 30px;
        background-color: rgb(253, 250, 250);
        border: solid 1px rgb(21, 71, 1);
        box-shadow: 8px 5px 5px rgb(125, 125, 126); 
        margin: 20px;
        text-align: center;
    }

    .loginInput {
        width: 30vw;
        height: 5vh;
        border-radius: 30px;
        background-color: rgb(253, 250, 250);
        border: solid 1px rgb(21, 71, 1);
        box-shadow: 8px 5px 5px rgb(125, 125, 126); 
        margin: 20px;
        text-align: center;
    }

    .logoMuñe {
        width: 25vw;
        margin-right: 6em;
        
    }

    .loginForm {
        height: 100vh;
    }
    .titleStart{
        color: #4580d8;
        font-family:Cairo,sans-serif;
        font-size: 7vh;
        font-style: normal;
        font-weight: bolder;
        text-align: center;
        margin: auto;
        align-self: center;
        justify-content: center;
    }
}