* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 
  }

body {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: black; 
}

#root {
    background-color: rgb(237, 245, 226);
    color: rgb(237, 245, 226);
 }

.startContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    justify-content: space-between;  
    overflow: hidden;
    color: black;
  
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    padding: 3em;
    
}

.logoContainer  {
    display: flex;
    align-items: flex-start;
    height: 50px;
    
}

.logoMuñe {
    height: 20em;
    margin: auto;
}

.titleStart{
  color: rgb(1, 117, 1);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
  font-style: normal;
  font-weight: bolder;
  
  position: absolute;
  top: 60%;
}

.loginButton {
    width: 60vw;
    height: 5vh;
    margin: 5px;
    border-radius: 30px;
    background-color: rgb(253, 250, 250);
    border: solid 1px rgb(21, 71, 1);
    box-shadow: 8px 5px 5px rgb(125, 125, 126); 
}

.loginInput {
    height: 6vh;
    width: 60vw;
    border-radius: 10px;
    background-color: rgb(248, 247, 247);
    box-shadow: 8px 5px 5px rgb(125, 125, 126) ;
    margin: 5px;
    text-align: center;
}

.loginText{
    text-align: center;
    padding: .5em;
}

.postContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    justify-content: space-around; 

}
 .logoMuñePost{
     max-width: 5em;
 }

 .postInput {
     width: 70vw;
     height:20vh;
 }


 .topInfo{
    width: 100vw;
    height: 7vh;
    position: absolute;
    top:0%;
 }

 
 .titleTop{
    color: green;
    font-family: 'Cairo', sans-serif;
    
  }

.userInfo{
    width: 100vw;
    height: 20vh;
    position: absolute;
    top:8%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items:center
}
.userName{
    display: flex;
    flex-wrap: wrap;
    color: #F08296;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
}

 .menuPost{
    width: 100vw;
    height: 15vh;
    top: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    justify-content: space-around;
 }